<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

{% load static %}

    <head>
    <title>KG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
    .pl-20{
    padding-left:20px
    }
    text{
	    cursor:pointer;
	    max-width: 25px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }
    circle{
	    cursor:pointer;
    }
    #graphcontainerdiv{
     background:#fff;
    }
    .circle_opreate{
	    display: none;
    }
    </style>
    </head>

    <body>
        <!--
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.0.0/semantic.min.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.0.0/semantic.min.css" rel="stylesheet">
        -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/vue.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/lodash.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/d3.v4.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
        <link href="{% static 'css/semantic.min.css' %}" rel="stylesheet">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui container">
                    <div class="ui segment">
                        <!--video width="100%" src="{% static 'video/test.mp4' %}" controls="controls"></video-->
                        <video id="video" width="100%" controls autoplay="autoplay" muted>
                            <source src="{% static 'video/test.mp4' %}" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui container">
                    <div class="ui segment">
                        <p>在本课程一开始，我们谈到，讨论人们在一定的网络结构上的相互作用，有两个基本的工具，或者说是概念体系。一个是图论，另一个是博弈论。我们用图论的语言描述网络的结构性质，用博弈论语言推理人们之间在利益面前互动的结果走向。这一周的内容是博弈论基本知识。经过几十年的发展，博弈论已经是博大精深的一门学问，但就我们这课的需要而言，这里只是介绍最最基本的概念。<\p>
                        <p>博弈这个词，在日常社会生活中也经常用到。在中国，与博弈这个词最早有关联的，大概就是田忌赛马了。讲的是孙膑给田忌出主意，通过策略性安排不同等级的马匹出场的顺序，赢得了与齐威王赛马的胜利。双方各有三匹马，分别是上中下三等，在同一等级上，齐威王的马都比田忌的好。因此，如果是相同等级的对赛，田忌都输。孙膑告诉田忌不要这么硬拼，而是用自己的上等对齐威王的中等，中等对齐威王的下等，于是就获得了2:1的胜利。<\p>
                        <p>博弈论中的“博弈”，是将我们日常生活中感觉到的博弈活动的一种抽象。有三个基本要素。第一，参与人，至少是两个；其实也不一定是人，可以是机构或者国家等，因此准确地说，叫“参与方”较好，但人们习惯就叫参与人了。第二个要素是策略集，即每个参与人可以选择的行动方案，通常也是至少两种。这里，为便于后面的讨论，需要提出一个与策略集相关，但不同的辅助概念，即“策略组”，它是每个参与人出一个策略构成的策略组合。区别一下这两个术语的含义，策略集是属于个人的，策略组则是跨每个人的策略集的，每人贡献一个。（例：3个参与人，A，B，C；A的策略集中有2个策略，B有4个，C有3个。问：一共有多少个可能的策略组？）。第三个要素很关键，也就是体现博弈参与人互动关系的要素，就是所谓“回报”（也叫收益，或者支付），通常用数值表达。对应每一个策略组，每个参与人都有一个回报，不一定相同。对一种情况，如果我们完整地给出了这三个要素，就可以说这种情况是一个博弈。<\p>
                        <p>下面来看田忌赛马如何能表达成博弈论意义下的博弈。<\p>
                        <p>参与人，这个清楚，就是齐威王和田忌。<\p>
                        <p>他们各自的策略集是什么呢？这需要想一想了，本质上就是各自赛马出场的排列顺序，两个人都有三匹马，按等级分上中下，于是有6种可能的排列，也就是他们各自的策略集中包含都6个策略。<\p>
                        <p>对应分别来自田忌和齐威王的每一对策略，也就是策略组，他们俩各有一个回报。在这个故事中假设了，对同样等级的马，田忌的都不如齐威王的，但田忌的上等马要比齐威王的中等好，田忌的中等马要比齐威王的下等好，再假设一次比赛赢者积1分，输者积－1分，于是我们就知道了，如果田忌用“上中下”对齐威王的“上中下”，他统统输，回报就是－3，如果田忌用“下上中”对齐威王的“上中下”，那么他就赢两次输一次，回报＋1，等等。<\p>
                        <p>现在，我们讲一个重要的观念。那就是在日常社会生活中人们谈博弈，常常隐含着要“争个输赢”，把自己放在一个参与人的角度，看采取什么策略能胜过对方。在博弈论中我们谈博弈，也会考虑参与人采用什么策略，但不一定追求“你输我赢”，只是追求怎么对于我来说最好。那种“最好”，可能意味着对方很悲惨，也可能意味着对方也是最好。比如这个例子，是符合我们关于博弈定义的，。有两个参与人，每个人有两个策略选择，如果他们做了相同的选择，则回报都好，否则回报就都不好。也就是说，只有协调才能共赢，生活中不少这种例子，只是我们一般没把它们看成是博弈。<\p>
                        <p>还有一个观念至少也同样重要，那就是在博弈论的讨论中，我们会关心不同参与人会采取什么策略、得到什么回报，但常常更关心当所有参与人都为自己争取最好利益的时候，博弈整体会达到一个什么状态。这其实是我们讨论博弈论的核心，后面会多次提到。<\p>
                        <p>下面，我们用一个例子来综合说明一下上述博弈论的最基本概念，特别要体会一下如何把一个情形描述转变成一个博弈定义的过程。<\p>
                        <p>这讲的是两个成组的学生，临近期末，明天要考试了，需要在两件事情中选做一件，自己复习备考，还是去准备一个报告的PPT。这两件事情都和期末成绩有关，其中假设考试成绩可以预期，如果今晚复习了，就能得92分，否则80分；报告的情况复杂一些，它的成绩是两个人共享的，如果两人一起来准备，每人可得100分，若只有一个人准备，则是92分，若都不准备，到时候去凑活，就是84分。<\p>
                        <p>这是个博弈吗？我们看看三要素。参与人，很清楚，就是你和你的搭档。每个人的策略也很清楚，两个：复习功课还是去准备报告。回报是什么，这里的情况看起来稍有点啰嗦，我们假设学生最后的成绩是考试与报告的平均分。于是，我们就可以用所谓“收益矩阵”来描述这个博弈了。<\p>
                        <p>这是形象化表达双人博弈的一种有效方法。对应每一个策略组，矩阵格中的第一个数字是横向参与人的回报，第二个数字是纵向参与人的回报。比方左下方的这个86，就是“你”复习考试，而“搭档”准备报告情况下他的回报，而你此时的回报是92。<\p>
                        <p>好了，我们现在已经知道了什么是博弈论意义下的博弈，即对于一个情形，如果你能明确说清楚参与人、策略、回报这三个要素，我们就说你面对的就是一个博弈，然后就可以来进行分析了。在分析一个博弈的时候，我们前面提到过，博弈论所关心的，不同于博弈参与人关心的。除了也关心每个参与人的得失外，博弈论特别关心，在一个博弈中，当每个参与人都追求利益极大化的时候，博弈整体会呈现一种什么状态，或者说博弈的结果、走向、发展趋势等，具体来说，就是哪些策略组合会被人们采用。<\p>
                        <p>为了能严格地讨论这样的博弈问题，需要有些前提假设。首先，是每个人只是关心自己的回报。尽管在现实中人们可能互相关心，不仅希望自己好，还希望别人也好，或者宁可自己吃点亏而让别人更好一些，我们假设这样的情况也都表达在了自己的回报中，从而只是关心自己的回报。第二个假设就是理性人假设，即只要有可能，参与人总会选择回报更大的策略。第三个假设是每个参与人都对博弈结构完全了解，不仅知道自己的策略，也知道别人的策略，不仅知道自己的回报，也知道别人的回报，不仅自己是理性人，也知道别人也是理性人。<\p>
                        <p>小结<\p>
                        <p>这一节，我们讲了什么是博弈论中的博弈，它是我们日常社会生活中说的博弈情形的一种抽象，凡是讲清楚了参与人、策略和回报这三件事，我们就说定义了一个博弈。同时，我们还指出，博弈论除了关心特定的参与人该选择什么策略能获得最大利益外，还特别关心整个博弈的走向，即什么样的策略组可能被所有参与人联合采用。最后，提到了分析博弈问题要用到的几个假设，这是我们在后面的讨论中为形成结论所需要的；经常，我们并不显性指出用到了哪个假设，但能感到没有那些假设，推理就不能往下进行。<\p>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui container">
                    <div class="ui segment">
                        {% verbatim %}
                        <div id="app" class="mind-con">
                            <div v-if="appear" id="node-info">详情：{{ node_info }}</div>
                            <!--div v-html="message"></div-->
                            <div id="graphcontainer" class="graphcontainer" v-bind:style=""></div>
                            <div class="svg-set-box"></div>
                            <button @click="node_info=''" style="font-size:25px;">关闭1</button>
                            <button v-on:click="clear()" style="font-size:25px;">关闭2</button>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>


    </body>
    <script>var jsondata = {{ json_data | safe }};</script>
    <script type="text/javascript" src="{% static 'js/video.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/kg.js' %}"></script>
</html>